.about_brief_container {
  background: linear-gradient(180deg, #000000 30%, #272727 70%) !important;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.our_clients_container {
  background: linear-gradient(180deg, #272727, #000000) !important;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}