.title {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  color: #cfcfcf;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #cfcfcf;
  margin-bottom: 20px;
  line-height: 1.6;
}